<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>维智教育</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<!-- Owl Carousel -->
		<link type="text/css" rel="stylesheet" href="/styles/plugin/owl.carousel.css" />
		<link type="text/css" rel="stylesheet" href="/styles/plugin/owl.theme.default.css" />

		<!-- Magnific Popup -->
		<link type="text/css" rel="stylesheet" href="/styles/plugin/magnific-popup.css" />

		<!-- Font Awesome Icon -->
		<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->
		<link type="text/css" rel="stylesheet" href="/styles/plugin/font-awesome.min.css" />

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="/styles/site.css" />

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container-fluid bg-dark navbar-top-large-screen">
        <div class="navbar-top-large-screen-info">
          <p class="navbar-top-large-screen-info-detail">联系我们：<span class="navbar-top-large-screen-info-detail-content">(+1) 647-639-1284</span></p>
          <p class="navbar-top-large-screen-info-detail">工作时间：<span class="navbar-top-large-screen-info-detail-content">周一至周五 10 am-8 pm</span></p>
        </div>
        <div class="navbar-top-large-screen-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="container container--large">
        <a class="navbar-brand js-scroll-trigger" href="/">
          <img src="/images/home/wyse-logo.png" class="navbar-brand-logo" alt="wyse logo">
        </a>
				<a class="navbar-brand-shrink js-scroll-trigger" href="/">
          <img src="/images/home/wyse-logo-white.png" class="navbar-brand-logo" alt="wyse logo">
        </a>
        <button class="btn ml-auto navbar-info-btn" type="button" data-toggle="modal" data-target="#navbarInfo" aria-controls="navbarInfo" aria-expanded="false" aria-label="Toggle navbarInfo">
          <i class="fa fa-info-circle"></i>
        </button>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
						{{# each navLinks}}
							{{#if more}}
							<li {{#ifeq ../section key}}class="nav-item nav-dropdown active"{{else}}class="nav-item nav-dropdown"{{/ifeq}}>
								<a class="nav-link js-scroll-trigger" href="{{ href }}">{{ label }}</a>
								{{#ifeq key 'blog'}}
								<a class="nav-dropdown-toggle" href="#" role="button" id="dropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chevron-down"></i></a>
								<div class="dropdown-menu" aria-labelledby="dropdownBlog">
									<a class="dropdown-item" href="/blog/edu"><i class="fas fa-chevron-right"></i>留学</a>
									<a class="dropdown-item" href="/blog/imm"><i class="fas fa-chevron-right"></i>移民</a>
									<a class="dropdown-item" href="/blog/live"><i class="fas fa-chevron-right"></i>生活</a>
									<a class="dropdown-item" href="/blog/work"><i class="fas fa-chevron-right"></i>工作</a>
								</div>
								{{else}}
								<a class="nav-dropdown-toggle" href="#" role="button" id="dropdownProject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chevron-down"></i></a>
								<div class="dropdown-menu dropdown-menu--long" aria-labelledby="dropdownProject">
									<a class="dropdown-item" href="/project"><i class="fas fa-chevron-right"></i>曼尼托巴省留学-移民快速通道</a>
									<a class="dropdown-item" href="/project/2"><i class="fas fa-chevron-right"></i>曼尼托巴省提名移民-商业投资类</a>
									<a class="dropdown-item" href="/project/3"><i class="fas fa-chevron-right"></i>加拿大就业移民项目-经验移民项目</a>
									<a class="dropdown-item" href="/project/4"><i class="fas fa-chevron-right"></i>加拿大就业移民项目-雇主经营项目</a>
									<a class="dropdown-item" href="/project/5"><i class="fas fa-chevron-right"></i>加拿大经商移民项目</a>
								</div>
								{{/ifeq}}
							</li>
							{{else}}
							<li {{#ifeq ../section key}}class="nav-item active"{{else}}class="nav-item"{{/ifeq}}>
								<a class="nav-link js-scroll-trigger" href="{{ href }}">{{ label }}</a>
							</li>
							{{/if}}
						{{/each}}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger nav-link-button" href="/contact">在线付款</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

		<!-- Info Modal -->
		<div class="modal fade" id="navbarInfo" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="navbar-top-large-screen-info">
							<p class="navbar-top-large-screen-info-detail">联系我们：<span class="navbar-top-large-screen-info-detail-content">(+1) 647-639-1284</span></p>
		          <p class="navbar-top-large-screen-info-detail">工作时间：<span class="navbar-top-large-screen-info-detail-content">周一至周五 10 am-8 pm</span></p>
						</div>
						<div class="navbar-top-large-screen-social">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</div>
		<div class="footer">
			<div class="container footer-content">
				<div class="row">
					<div class="col-lg-4 mx-auto footer-content-logo">
						<img src="/images/home/wyse-logo-white.png" class="img-fluid" alt="wyse">
					</div>
				</div>
				<div class="row mt-5 text-center">
					<div class="col-lg-4 px-0 px-md-3">
						<div class="footer-content-info mx-auto">
							<img src="/images/home/location.png" class="footer-content-info-img" alt="location">
							<p>211 Consumers Rd. Suite 303B,<br />North York, ON M2J 4G8</p>
						</div>
					</div>
					<div class="col-lg-4 px-0 px-md-3">
						<div class="footer-content-info mx-auto">
							<img src="/images/home/phone.png" class="footer-content-info-img" alt="phone">
							<p>中国：950-4035-0325<br />加拿大：647-639-1284</p>
						</div>
					</div>
					<div class="col-lg-4 px-0 px-md-3">
						<div class="footer-content-info mt-2 mx-auto">
							<img src="/images/home/mail.png" class="footer-content-info-img" alt="mail">
							<p>info@wysedu.ca</p>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<p class="text-center m-0">Copyright © 2018 Wyse Education Inc. All Rights Reserved</p>
			</div>
		</div>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="/js/jquery.easing.min.js"></script>
		<script type="text/javascript" src="/js/scrollreveal.min.js"></script>
		<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>

		<script type="text/javascript" src="/js/main.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
